<!DOCTYPE html>
<html>

<head>
    {% load static %}
    <title>Alphabox</title>
    <meta charset="utf-8">

    <link rel="stylesheet" type="text/css" href="{% static 'learnword/style_test.css' %}">
</head>

<body>
    <div class="logo">
        <img src="{% static 'learnword/images/logoCopie.jpg' %}" />
    </div>
    <div id="timer-select">
        <label for="timer">Timer</label>
        <select name="timer" id="timer-value">
            <option value="10">10s</option>
            <option value="20">20s</option>
            <option value="30">30s</option>
            <option value="45">45s</option>
            <option value="60">1min</option>
            <option value="90">1min30</option>
            <option value="120">2min</option>
        </select><br />
    </div>

    <div id="progress_timer">
        <progress id="rest-timer" max="100" value="70"> 70% </progress>
        <p id="decompt"></p>
    </div>

    <div class="context">
        <div id="alphabet">
            <h2>Selectionner une lettre </h2><br />
            {% for letter in alphabet %}
            <input type="button" value="{{ letter }}" id="{{ letter }}" class="letter"
                onclick="set_letter('{{ letter }}')">
            {% endfor %}
        </div>
        <div id="bloc_mot">
            <h2>Mot</h2>
            <form action="" method="POST" id="formmot"> {% csrf_token %}
                <input type="text" name="mot" id="mot" autocomplete="off" autofocus>
                <input type="submit" value="Envoyer">
            </form>
            <br />
            <div id="mot_propose">
            </div>
        </div>
        <div id="mot_bonus">
            <h2> Mot Bonus</h2> <br />
            <div id="mot_bonus">

            </div>
        </div>
        </>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <script src=" {% static 'learnword/node_modules/bootstrap/dist/js/bootstrap.js' %}">
        </script>
        <script type="text/javascript" src="{% static 'learnword/main.js' %}"></script>

        </script>
        <script>
            var n = 0;

            function get_session(session_name) {
                let a = '';
                let formData = new FormData();
                formData.append('nom', session_name);
                let csrfTokenValue = document.querySelector('[name=csrfmiddlewaretoken]').value;
                const request = new Request('{% url "get_session" %}', {
                    method: 'POST',
                    body: formData,
                    headers: {
                        'X-CSRFToken': csrfTokenValue
                    }
                });
                fetch(request)
                    .then(response => {
                        if (response.status === 200) {
                            return response.json();
                        } else {
                            throw new Error('Erreur');
                        }
                    })
                    .then(result => {});
            }

            function set_letter(letter) {
                var l = document.querySelector("#" + letter)
                let formData = new FormData();
                formData.append('contenu', l.value);
                formData.append('nom', 'lettre');
                let csrfTokenValue = document.querySelector('[name=csrfmiddlewaretoken]').value;
                const request = new Request('{% url "create_session" %}', {
                    method: 'POST',
                    body: formData,
                    headers: {
                        'X-CSRFToken': csrfTokenValue
                    }
                });
                fetch(request)
                    .then(response => {
                        if (response.status === 200) {
                            return response.json();
                        } else {
                            throw new Error('Erreur');
                        }
                    })
                    .then(result => {
                        let alphabet = 'abcdefghijklmnopqrstuvwxyz';
                        for (let a of alphabet) {
                            document.getElementById(a).style.background = "";
                            document.getElementById(a).style.color = ""
                        }
                        let a = document.getElementById("timer-value")
                        var opt;
                        for (var i = 0, len = a.options.length; i < len; i++) {
                            opt = a.options[i];
                            if (opt.selected === true) {
                                break;
                            }
                        }
                        document.getElementById(letter).style.background = '#0679FC';
                        document.getElementById(letter).style.color = "white";
                        var i = parseInt(opt.value);
                        var time = setInterval(function () {
                            document.getElementById('decompt').innerText = i.toString();
                            document.getElementById('rest-timer').max = parseInt(opt.value);
                            document.getElementById('rest-timer').value = parseInt(opt.value) - i;
                            if (i <= 0) {
                                clearInterval(time);
                                get_session('mot_trouve');
                                alert("Temps écoulé vous avez donné " + n + " mot(s) corrects");
                            }
                            i -= 1;
                        }, 1000);
                    });
            }
        </script>
        <script>
            document.querySelector("#formmot").addEventListener("submit", (event) => {
                event.preventDefault();
                var a = document.querySelector('#mot').value;
                if (a.replace(/\s/g, '').length) {
                    let formData = new FormData();
                    formData.append('mot', document.querySelector("#mot").value);
                    let csrfTokenValue = document.querySelector('[name=csrfmiddlewaretoken]').value;
                    const request = new Request('{% url "validateword" %}', {
                        method: 'POST',
                        body: formData,
                        headers: {
                            'X-CSRFToken': csrfTokenValue
                        }
                    });
                    fetch(request)
                        .then(response => {
                            if (response.status === 200) {
                                return response.json();
                            } else {
                                throw new Error('Erreur');
                            }
                        })
                        .then(result => {
                            var words = document.querySelector("#mot_propose");
                            if (result['correct']) {
                                n += 1;
                                words.innerHTML = "<span style=\"color:green\"> " + result['mot'] +
                                    "</span><br />" + words.innerHTML
                            }

                            if (!result['correct']) {
                                words.innerHTML = "<span style=\"color:red\"> " + result['mot'] +
                                    "</span><br />" +
                                    words.innerHTML
                            }
                            document.querySelector("#mot").value = '';
                        });
                }
                document.querySelector("#mot").value = '';
            })
        </script>
</body>

</html>