<!DOCTYPE html>
<html>

<head>
    {% load static %}
    <title>Alphabox</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{% static 'learnword/style_test.css' %}">
    <link href="https://emoji-css.afeld.me/emoji.css" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integr>


</head>

<body>

    <div class="area">
        <div class="menu">
            <ul>
                <li class="logo"><img src="{% static 'learnword/images/logoCopie.jpg' %}" /></li>
            </ul>
        </div>
    </div>

    <div class="context">
        <div id="alphabet">
            <h2>Selectionner une lettre </h2><br />
            {% for letter in alphabet %}
            <input type="button" value="{{ letter }}" id="{{ letter }}" class="letter"
                onclick="set_letter('{{ letter }}')">
            {% endfor %}
        </div>
        <div id="bloc_mot" style="background-color='white',">
            <form action="" method="POST" id="formmot"> {% csrf_token %}
                <label for="mot">mot</label><br /> <br />
                <input type="text" name="mot" id="mot" autocomplete="off" autofocus>
                <input type="submit" value="Envoyer">
            </form>
            <br />
            <div id="mot_propose">
            </div>
        </div>
        <div id="mot_bonus">
            <label> Mot Bonus</label> <br />
            <div id="mot_bonus">

            </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <script src=" {% static 'learnword/node_modules/bootstrap/dist/js/bootstrap.js' %}">
        </script>
        <script type="text/javascript" src="{% static 'learnword/main.js' %}"></script>

        </script>
        <script>
            function get_session(session_name) {
                let a = '';
                let formData = new FormData();
                formData.append('nom', session_name);
                let csrfTokenValue = document.querySelector('[name=csrfmiddlewaretoken]').value;
                const request = new Request('{% url "get_session" %}', {
                    method: 'POST',
                    body: formData,
                    headers: {
                        'X-CSRFToken': csrfTokenValue
                    }
                });
                fetch(request)
                    .then(response => {
                        if (response.status === 200) {
                            return response.json();
                        } else {
                            throw new Error('Erreur');
                        }
                    })
                    .then(result => {
                        a = result[session_name];
                        alert(a);
                    });
                return a;
            }

            function set_letter(letter) {
                var l = document.querySelector("#" + letter)
                let formData = new FormData();
                formData.append('contenu', l.value);
                formData.append('nom', 'lettre');
                let csrfTokenValue = document.querySelector('[name=csrfmiddlewaretoken]').value;
                const request = new Request('{% url "create_session" %}', {
                    method: 'POST',
                    body: formData,
                    headers: {
                        'X-CSRFToken': csrfTokenValue
                    }
                });
                fetch(request)
                    .then(response => {
                        if (response.status === 200) {
                            return response.json();
                        } else {
                            throw new Error('Erreur');
                        }
                    })
                    .then(result => {
                        let alphabet = 'abcdefghijklmnopqrstuvwxyz';
                        for (let a of alphabet) {
                            document.getElementById(a).style.background = "";
                            document.getElementById(a).style.color = ""
                        }
                        document.getElementById(letter).style.background = '#0679FC';
                        document.getElementById(letter).style.color = "white";
                        setTimeout(function () {
                            var n = get_session('mot_trouve');
                            //alert(session_name);
                            alert("Temps écoulé vous avez donné " + n + " mot(s) corrects");
                        }, 1000 * 40);
                    });
            }
        </script>
        <script>
            document.querySelector("#formmot").addEventListener("submit", (event) => {
                event.preventDefault();
                var a = document.querySelector('#mot').value;
                if (a.replace(/\s/g, '').length) {
                    let formData = new FormData();
                    formData.append('mot', document.querySelector("#mot").value);
                    let csrfTokenValue = document.querySelector('[name=csrfmiddlewaretoken]').value;
                    const request = new Request('{% url "validateword" %}', {
                        method: 'POST',
                        body: formData,
                        headers: {
                            'X-CSRFToken': csrfTokenValue
                        }
                    });
                    fetch(request)
                        .then(response => {
                            if (response.status === 200) {
                                return response.json();
                            } else {
                                throw new Error('Erreur');
                            }
                        })
                        .then(result => {
                            var words = document.querySelector("#mot_propose");
                            if (result['correct']) {
                                words.innerHTML = "<span style=\"color:green\"> " + result['mot'] +
                                    "</span><br />" + words.innerHTML
                            }

                            if (!result['correct']) {
                                words.innerHTML = "<span style=\"color:red\"> " + result['mot'] +
                                    "</span><br />" +
                                    words.innerHTML
                            }
                            document.querySelector("#mot").value = '';
                        });
                }
                document.querySelector("#mot").value = '';
            })
        </script>
</body>

</html>