

@import url('https://fonts.googleapis.com/css?family=Poppins:900i');
@import url('https://fonts.googleapis.com/css?family=Exo:400,700');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,300');


body{
  font-family: 'Exo', sans-serif;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	animation: gradient 15s ease infinite;
  display: flex;
}

h2{
  color:white;
  text-align: center;
}
.logo > img{
  width: 100px;
  height: 100px;
  position: absolute;
  top: 0px;
  left: 0px;
}
#timer-value{
  margin-left: 10px;
}
#timer-select{
  display: flex;
  justify-content: space-around;
  color: white;
  font-size: 1.3em;
  width: 100px;
  height: 30px;
  position: absolute;
  top: 5vh;
  left: 50%;
}

#progress_timer{
  display: flex;
  justify-content: space-around;
  color: white;
  font-size: 1.3em;
  width: 500px;
  height: 30px;
  position: absolute;
  top: 10vh;
  left: 40%;
}
#progress_timer>progress{
  width: 80%;
  height: 30px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: white;
  color: green;
  border-radius:4px;
}

.context {
    width: 100%;
}



.context .slogan{
  text-align:center;
  text-decoration: blink;
}

.context{
  margin-top: 100px;;
  display:flex;
}


#mot_propose{
  width: 70%;
  min-height: 60vh;
  margin-top: 20px;
  background-color: whitesmoke;
  text-align: center;
}
#bloc_mot{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#bloc_mo > form{
  background-color: white;
}

#mot_bonus{
  width: 20%;
}

#alphabet {
  width: 33%;
}

.letter {
    border: #0679FC solid 2px;
    color : #0679FC;
    background-color:white;
    width: 15%;
    height: 50px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
}
